<!doctype html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, intial-scale=1.0">
                <script src="https://cdn.tailwindcss.com"></script>

                <title>Puddle</title>
        </head>

        <body>
                <div class="px-6 py-6">
                        <h1 class="text-3xl font-bold">Puddle</h1>
                        <p class="text-gray-600">A simple, lightweight, and fast static site generator.</p>
                </div>
        </body>

</html>